body {
    font-family: Segoe UI, Verdana, Geneva, Tahoma, sans-serif;
    
    color: #ffffff;
    background-color: #333333;
}

textarea {
    outline: none;

    width: 100%;

    margin-top: 0.5em;
    margin-bottom: 0.5em;

    resize: none;
}

#codearea {
    background: #111111;
    color: #ffffff;
    border: none;
}

#resultarea {
    background: #111111;
    color: #ffffff;
    border: none;
}

button {
    width: 8.0em;

    background-color: #ff0000;
    color: #ffffff;

    border: none;
    border-radius: 8px;

    padding: 1.0em;
    
    font-size: 1.0em;

    transition-duration: 0.3s;
}

button:hover {

    background-color: #0000ff;
    
}

#left-explanation {
    height: 100%;
    width: 30%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    left: 0;
    padding: 10px;
    background-color: #222222;
}

#left-explanation::-webkit-scrollbar {
    width: 6px;
}


#left-explanation::-webkit-scrollbar-track {
    opacity: 0;
}

#left-explanation::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 5px;
}

#left-explanation::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

#right-editor {
    height: 100%;
    width: 67%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    right: 0;
    padding: 10px;
}

code {
    font-size: 1.1em;
    background: #111111;
    padding: 2px;
    color: #ffffff;
}

pre {
    background: #111111;
    padding: 5px;
}