body {

}

textarea {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

button {
    background-color: #ff0000;
    color: #ffffff;

    border: none;
    border-radius: 5px;

    padding: 1.0em;
    
    font-size: 1.0em;
}